html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: large;
}

#root {
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.scoreboard > div {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  flex: 2;
  display: flex;
  flex-flow: row wrap;
}

button {
  flex: 1;
  font-size: inherit;
}

button:nth-child(n+4) {
  flex-basis: 100%;
}

button:nth-child(2) {
  transform: scale(1, -1);
}
